<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium自动化测试教程">
	<test name="通过By.id(id)定位页面元素">
		<classes>
			<class name="per.cyj.selenium.element.FindElementByIdTest"/>
		</classes>
	</test>
	<test name="通过By.name(name)定位页面元素">
		<classes>
			<class name="per.cyj.selenium.element.FindElementByNameTest"/>
		</classes>
	</test>
	<test name="通过By.className(className)定位页面元素">
		<classes>
			<class name="per.cyj.selenium.element.FindElementByClassNameTest"/>
		</classes>
	</test>
</suite>
